body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     min-height: 100vh;
     background:rgb(223, 255, 250);
     color: rgb(17, 98, 26);
}

  .outer{
    text-align: center;
    background: rgb(192, 246, 238);
    padding: 0 60px 20px 60px;
    /* margin: 30px; */
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
  }

.inner{
  display: flex;
  
}

.inner2{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.inner2 img{
    max-width: 40px;
    
}
.inner2:hover, .inner2.active{
    background:rgb(67, 237, 146);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    transition: all 300ms ease;
}

.btn{
    border-radius: 10px;
    padding: 15px;
    border: none;
    background-color: greenyellow;
}

.btn:hover{
    background:rgb(67, 237, 146);
    cursor: pointer;
    box-shadow: 0px 5px 10px black;
    transition: all 300ms ease;
    color: white;
   
}

.btn:active{
transform: scale(0.96);
}