body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, rgb(202, 150, 203), rgb(177, 195, 177));
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap:wrap;
}


.container {
    height: 50vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 2em;
    gap: 1em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, .3);

}

h1 {
    color: rgb(3, 73, 3);
    text-shadow: 10px 5px 2px rgb(0, 0, 0, .3);
}

p {
    font-size: x-large;
    font-weight: bold;
}


button {
    border: none;
    font-size: x-large;
    padding: .5em 4em;
    cursor: pointer;
    border-radius: .6em;
    background: rgb(211, 140, 213);
}

button:hover {
    box-shadow: 0 4px 4px rgb(0, 0, 0, .3);
    background-color: rgb(215, 149, 217);
}